<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--  -->
    <table class="table table-striped container">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="https://i.pinimg.com/originals/f8/0a/35/f80a3595f384622c45242d0da7c0b3bf.jpg"
              style="width: 200px; height: 300px; object-fit: cover"
            />
          </td>
          <td>Lisa Blackpink</td>
          <td>Foto ijazah</td>
        </tr>
      </tbody>
    </table>
    <!--  -->
  </body>
</html>
